services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tasker_db
    volumes:
      - postgres_data:/var/lib/postgresql/

  backend:
    container_name: backend
    image: backend
    build: backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    
  frontend:
    container_name: frontend
    image: frontend
    build: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  postgres_data: